.App {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 179, 190);
  height: 100vh;
}
h1 {
  margin-bottom: 30px;
}
.form-data {
  display: flex;
  flex-flow: column;
  width: fit-content;
  align-items: center;
  justify-content: center;
}
input[type="text"] {
  font-size: 1.2rem;
  margin: 10px;
  text-align: center;
}
label {
  font-size: 1.3rem;
}
